@model IEnumerable<mcknaldi.Models.Deliveryslots>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h2>Bezorgmomenten</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                €@Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
    
    </table>
