<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Font Awesome. -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Include Froala Editor styles -->
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/froala_editor.min.css" />
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/froala_style.min.css" />
    <!-- Include Froala Editor Plugins styles -->
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/file.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/image.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/table.css">
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/video.css">
    <!-- extra style plugins-->
    <link rel="stylesheet" href="~/Scripts/froala-editor/css/plugins/code_view.min.css">
    <!-- Include Froala Editor -->
    <script src="~/Scripts/froala-editor/js/froala_editor.min.js"></script>
    <!-- Include Froala Editor Plugins -->
    <script src="~/Scripts/froala-editor/js/plugins/align.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/char_counter.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_view.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/colors.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/emoticons.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/entities.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/file.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_family.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/font_size.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/fullscreen.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/image_manager.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/inline_style.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/line_breaker.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/link.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/lists.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_format.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/paragraph_style.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/quote.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/save.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/table.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/video.min.js"></script>
    <!-- extra plugins-->
    <script src="~/Scripts/froala-editor/js/plugins/code_view.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/code_beautifier.min.js"></script>
    <script src="~/Scripts/froala-editor/js/plugins/word_paste.min.js"></script>
    <!-- End Froala -->

</head>
<body>
    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src=""></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.6/js/froala_editor.pkgd.min.js"></script>

    <!-- Initialize the editor. -->
    <script>

        $(function () {
            $('textarea').froalaEditor({
                imageUploadURL: '/FroalaApi/UploadImage',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST"
            })
                // Catch image removal from the editor.
                .on('froalaEditor.image.removed', function (e, editor, $img) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteImage",

                        // Request params.
                        data: {
                            src: $img.attr('src')
                        }
                    })
                        .done(function (data) {
                            console.log('image was deleted');
                        })
                        .fail(function (err) {
                            console.log('image delete problem: ' + JSON.stringify(err));
                        })
                })
                // Catch image removal from the editor.
                .on('froalaEditor.file.unlink', function (e, editor, link) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteFile",

                        // Request params.
                        data: {
                            src: link.getAttribute('href')
                        }
                    })
                        .done(function (data) {
                            console.log('file was deleted');
                        })
                        .fail(function (err) {
                            console.log('file delete problem: ' + JSON.stringify(err));
                        })
                })

            $('#edit-resize').froalaEditor({
                imageUploadURL: '/FroalaApi/UploadImageResize',
                fileUploadURL: '/FroalaApi/UploadFile',
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST"
            })
                // Catch image removal from the editor.
                .on('froalaEditor.image.removed', function (e, editor, $img) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteImage",

                        // Request params.
                        data: {
                            src: $img.attr('src')
                        }
                    })
                        .done(function (data) {
                            console.log('image was deleted');
                        })
                        .fail(function (err) {
                            console.log('image delete problem: ' + JSON.stringify(err));
                        })
                })

                // Catch image removal from the editor.
                .on('froalaEditor.file.unlink', function (e, editor, link) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteFile",

                        // Request params.
                        data: {
                            src: link.getAttribute('href')
                        }
                    })
                        .done(function (data) {
                            console.log('file was deleted');
                        })
                        .fail(function (err) {
                            console.log('file delete problem: ' + JSON.stringify(err));
                        })
                });

            $('edit').froalaEditor({
                imageUploadURL: '/FroalaApi/UploadImageValidation',
                imageUploadParam: 'myImage',
                fileUploadURL: '/FroalaApi/UploadFileValidation',
                fileUploadParam: 'myFile',
                fileMaxSize: 1024 * 1024 * 50,
                imageManagerLoadURL: '/FroalaApi/LoadImages',
                imageManagerDeleteURL: "/FroalaApi/DeleteImage",
                imageManagerDeleteMethod: "POST"
            })
                // Catch image removal from the editor.
                .on('froalaEditor.image.removed', function (e, editor, $img) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteImage",

                        // Request params.
                        data: {
                            src: $img.attr('src')
                        }
                    })
                        .done(function (data) {
                            console.log('image was deleted');
                        })
                        .fail(function (err) {
                            console.log('image delete problem: ' + JSON.stringify(err));
                        })
                })
                // Catch image removal from the editor.
                .on('froalaEditor.file.unlink', function (e, editor, link) {
                    $.ajax({
                        // Request method.
                        method: "POST",

                        // Request URL.
                        url: "/FroalaApi/DeleteFile",

                        // Request params.
                        data: {
                            src: link.getAttribute('href')
                        }
                    })
                        .done(function (data) {
                            console.log('file was deleted');
                        })
                        .fail(function (err) {
                            console.log('file delete problem: ' + JSON.stringify(err));
                        })
                })

            $.get("/FroalaApi/S3Signature", {})
                .done(function (data) {
                    $('#edit-amazon').froalaEditor({
                        imageUploadToS3: data,
                        fileUploadToS3: data
                    })
                });
        });
    </script>
</body>
</html>
