@model mcknaldi.Models.IndexViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/glennstyle.css">

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #B61C23;">
        <a class="navbar-brand" href="~/Home/Index">Mcknaldi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/Products/Index">Producten</a>
                <a class="nav-item nav-link" href="/Promotions/Index">Aanbiedingen</a>
                <a class="nav-item nav-link" href="/Cart/ShopCart">Winkelwagen</a>

                @Html.Partial("_LoginPartialWeb")
            </div>
        </div>

    </nav>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="ai-container">
        <h4>Verander je accountsinstellingen</h4>
        @if (Model.HasPassword)
            {
            @Html.ActionLink("Verander accountsinstellingen", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        <h4>Bekijk je Bestellingen</h4>
        @Html.ActionLink("Index", "Orders")
    </div>
    </body>
</html>