@model  mcknaldi.Models.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}



<!--PRODUCTS -->

@foreach (var item in Model.Products)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            €@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

@foreach (var item in Model.Promotions) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscountPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ValidUntil)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductEAN)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
    </td>
</tr>
}

