@model  mcknaldi.Models.HomePageViewModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/glennstyle.css">

</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #B61C23;">
        <a class="navbar-brand" href="~/Home/Index">Mcknaldi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/Categories/Index">Producten</a>
                <a class="nav-item nav-link" href="/Promotions/Index">Aanbiedingen</a>
                <a class="nav-item nav-link" href="#">Winkelwagen</a>
                <a class="nav-item nav-link" href="#">Bestellen</a>

                @Html.Partial("_LoginPartialWeb")
            </div>
        </div>

    </nav>
    <div class="navbar navbar-expand-lg navbar-light " style="border: 1px solid #585858;">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
    </div>



    <div class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Uploads/Content/Niewsberichten.png" alt="First slide">
            </div>
        </div>
    </div>

    <!--<div class="content-wrapper">
        @foreach (var item in Model.Products)
        {
            foreach (var item1 in Model.Promotions)
            {
                if (item1.ProductEAN == item.EAN)
                {
                    <div class="Content-container">
                        <p> @Html.DisplayFor(modelItem => item.Title)</p>
                        <div class="home-img-cnt">
                            <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
                        </div>

                        <p>@Html.DisplayFor(modelItem => item.ShortDescription) </p>

                        <p> @Html.DisplayFor(modelItem => item.Price) </p>

                    </div>

                }

            }

        }
    </div> -->
    @foreach (var item in Model.Articles)
    {
        
        
        

        <div class="art-wrapper">
            <div class="art-cnt">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <img src="~/Uploads/Content/@Html.DisplayFor(modelItem => item.Id)/@Html.DisplayFor(modelItem => item.ImagePath)" style="max-width:25rem;height:15rem;max-height:15rem;"></img>
            </div>
        </div>
    }
    <div class="prod-footer">
        <div>
            <a href="https://www.facebook.com"><img src="http://placehold.it/300x150" /></a>
            <h5>Socialmedia</h5>
        </div>
        <div>
            <img src="http://placehold.it/300x150" />
            <h5>Briefaanmelding</h5>
        </div>
        <div>
            <img src="http://placehold.it/300x150" />
            <h5>Klantenservice</h5>
        </div>
    </div>
    <div class="prod-terms">
        <p>Algemene voorwaarde</p>
        <p>Levering en verzending</p>
        <p>Privacy beleid</p>
        <p>Onze organisatie</p>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>

