@model mcknaldi.Models.PromotionPageViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/glennstyle.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #B61C23;">
        <a class="navbar-brand" href="~/Home/Index">Mcknaldi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/Categories/Index">Producten</a>
                <a class="nav-item nav-link" href="/Promotions/Index">Aanbiedingen</a>
                <a class="nav-item nav-link" href="/Cart/ShopCart">Winkelwagen</a>

                @Html.Partial("_LoginPartialWeb")
            </div>
        </div>

    </nav>
    <table class="table">
        <tr>
            <th>
                Titel
            </th>
            <th>
                Kortings prijs
            </th>
            <th>
                Verkrijgbaar tot
            </th>
            <th>
                Product
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Promotions)
        {
            if(DateTime.Compare(item.ValidUntil, DateTime.Now) > 0)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.DiscountPrice
                    </td>
                    <td>
                        @item.ValidUntil
                    </td>
                    <td>
                        @foreach (var product in Model.Products)
                        {
                            if (product.EAN == item.ProductEAN)
                            {
                                @product.Title
                            }
                        }
                    </td>
                </tr>
            }            
        }


    </table>
</body>
</html>
