@model IEnumerable<mcknaldi.Models.Product>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<style>
    .card-columns {
    column-count: 4;
  
}
</style>
<body>



    @foreach (var item in Model)
    {
        /*<div class="w3-container">

            <div class="w3-card-4 w3-dark-grey" style="width:25%">

                <div class="w3-container w3-center">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" style="width:100%;" />
                    <h5>@Html.DisplayFor(modelItem => item.ShortDescription)</h5>

                    <div class="w3-section">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        <button class="w3-button w3-green">Details </button>
                        <button class="w3-button w3-red">Decline</button>
                    </div>
                </div>

            </div>
        </div>*/

        /*<div class="card-columns">
            <div class="card">
                <img class="card-img-top" src=".../100px160/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title that wraps to a new line</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>*/

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Image)" style="width:25%;" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer" href ="@Html.ActionLink("Details", "Details", new { id = item.Id })">
                    <button type="button" class="btn btn-outline-success">Details </button>
                </div>
            </div>
        </div>
    }
</body>



